body{
    background-image: url(https://images5.alphacoders.com/695/695876.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div{
    width: 700px;
    height: 60px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

h1{
    color: azure;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
}