body{
    background-image: url(https://images5.alphacoders.com/695/695876.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: azure;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
}